@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}

<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<h2>@ViewBag.Title</h2>


<p>This is a work of fiction. Names, characters, businesses, events and incidents are the products of the author's imagination. Any resemblance to actual persons, living or dead, or actual events is purely coincidental.</p>
<br />
<p>This site was created and is maintained by Daniel Cain</p>
